
.wrapper {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 100%;
    max-height: 420px;
    z-index: -1;
}
.bottomLine {
    height: 10px;
    width: 250px;
    background: var(--hang_background)
}
.verticalLine {
    margin-left: 120px;
    height: 400px;
    width: 10px;
    background:var(--hang_background);
}
.topLine {
    margin-left: 120px;
    height: 10px;
    width: 200px;
    background:var(--hang_background);
}
.verticalLine_xs {
    height: 50px;
    width: 10px;
    background:var(--hang_background);
    top: 0;
    right: 0;
    position: absolute;
}
.head {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 10px solid var(--hang_background);
    position: absolute;
    top: 50px;
    right: -30px;
}
.body {
    background:var(--hang_background);
    width: 10px;
    height: 100px;
    position: absolute;
    top: 120px;
    right: 0px;
}
.rightArm {
    background:var(--hang_background);
    width: 100px;
    height: 10px;
    position: absolute;
    top: 150px;
    right: -100px;
    rotate: -30deg;
    transform-origin: left bottom;
}
.leftArm {
    background:var(--hang_background);
    width: 100px;
    height: 10px;
    position: absolute;
    top: 150px;
    right: 10px;
    rotate: 30deg;
    transform-origin: right bottom;
}
.rightLeg {
    background:var(--hang_background);
    width: 100px;
    height: 10px;
    position: absolute;
    top: 210px;
    right: -90px;
    rotate: 60deg;
    transform-origin: left bottom;  
}
.leftLeg {
    background:var(--hang_background);
    width: 100px;
    height: 10px;
    position: absolute;
    top: 210px;
    right: 0px;
    rotate: -60deg;
    transform-origin: right bottom;     
}