.wrapper {
    display: flex;
    gap: .25em;
    font-size: 5rem ;
    font-weight: bold;
    text-transform: uppercase;
}
.letters {
    border-bottom: .1em solid var(--hang_background);
}
.lettersVisible {
    visibility: hidden;
}